@import "base";

.nav-link.demon {
  font-size:15px;
  color: #072!important;
  margin:-10px 0 0 -12px;

  &.waken {
    background:darken(#edf4ed, 10%);
    //border:2px solid #333;
    //@include box-shadow(0px 1px 5px #333); 
  }

  &.has-legs {

    .leg {
      height:18px;
    }

  }

}
