#ctba,
#vote,
#code,
#diors,
#reception,
#craftsman,
#alphatown {
  opacity: 0
}

#diors {
  margin: 104px 0 104px 200px
}

#reception {
  margin: 90px
}

#craftsman {
  margin: 60px
}

#ctba {
  margin: 60px 0 60px 360px
}

#vote {
  margin: 250px 0 0 0
}

#code,
#alphatown {
  margin-top: 100px
}


#materials {
    display:none;
}
.demon {

    &.demon-piggy {
        padding: 0;
        border: none;

        img {
            vertical-align: top;
        }
    }

    &.wyssy-item-con {
        width: 560px;
        border: 1px solid #eeebe7;
        padding: 20px 0 0;
        // overflow: hidden;
        margin-bottom:50px;
        background: #fff;

        .guess-item {
            margin-bottom: 0;

            .bd {
                border: none;
            }

            .desc {
                padding-right: 30px;
            }
        }

        .album-item {
            margin-bottom: 0;
            margin-right: 20px;
        }

        .event-item .pic,
        .subject-item .pic {
            float: right;
            margin: 0 30px 0 30px;
        }

    }
}

.f2e.demon {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    img {
        display: block;
    }
}
