.demon {

    &.demon-piggy {
        padding: 0;
        border: none;

        img {
            vertical-align: top;
        }
    }

    &.demon-section {
        background: #fff;
        padding: 0;
        border: 1px solid #eeebe7;
    }

}

.judge {
    position: absolute;
    top: 550px;
    left: -140px;
    width: 96px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

.wyssy-item-con {
    margin: 0 auto;
    width: 560px;
    left: 50px;
    border: 1px solid #eeebe7;
    padding-top: 20px;
    // overflow: hidden;
    margin-bottom:50px;

    .guess-item {
        margin-bottom: 0;

        .bd {
            border: none;
        }

        .desc {
            padding-right: 30px;
        }
    }

    .album-item {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .event-item .pic,
    .subject-item .pic {
        float: right;
        margin: 0 30px 0 30px;
    }

}
