.demon {

    &.demon-piggy {
        padding: 0;
        border: none;

        img {
            vertical-align: top;
        }
    }

}

.judge {
    position: absolute;
    top: 550px;
    left: -140px;
    width: 96px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}
